/* add your CSS here */
/* add your CSS here */

.plant-info {
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    box-shadow: 7px 7px 7px grey;
    background-image: url("https://c.pxhere.com/photos/d8/cb/bark_english_oak_french_oak_pedunculate_oak_quercus_robur_rind_stem_tree-1039733.jpg!d");
  	/* Image source pxhere.com/en/photo/104012 4/25/2018 */
}

#card {
	border: 1px solid #34340d;
}
	
.title {
	border-style: double;
	border-radius: 20px;
	background-color: #cfd3c3;
	color: #977528;
	padding: 1em;
	text-align: center;
	font-family: 'Sail', cursive;
	font-size: 54px;
	margin: 20px 0;
}
	
.photo {
    border-style: solid;
    border-color: #977528;
	border-radius: 20px;
	padding: 1.3em;
	background: #34340d;	
	margin-bottom: 20px;
}

img {
	width: 300px;
}

.div {
	border-style: double;
	color: #34340d;
	padding: 10px 50px 20px;
	background: #768a3a;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#uses {
  font-style: italic;
  font-size: 18px; 
  text-align: center;
}

.details {
	padding: 1em;
	background: #cfd3c3; 
	border-style: solid;
    border-color: #977528;
	border-radius: 20px;
	font-family: 'Gudea', sans-serif;
	font-size: 18px;
	text-align: left;
}

span {
	font-weight: bold;
}

.center {
    margin: 0 auto;
    display: block;
	border-radius: 3%;
	width: 300px:
}




